@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

$sky-blue: #add5f2;
$night-sky: #0a263a;
$off-white: #e5e5e5;

body {
  font-family: 'Major Mono Display', monospace;
  // height: 100%;
  margin: 0px;
}

// Day Time Color Schema
.day {
  body {
    height: 100%;
  }

  background: linear-gradient($sky-blue, $off-white) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .banner {
    box-shadow: 0px 0px 18px 0px #92bad6;
  }

  .daily-card-container {
    box-shadow: 2px 5px 20px 1px #a0a0a0;
  }
}
// End of Day Time Color Schema

// Night Time Color Schema
.night {
  background: linear-gradient($night-sky, $off-white) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // Night Banner Component CSS
  .banner {
    box-shadow: 0px 0px 18px 0px #153349;
  }

  .daily-card-container {
    box-shadow: 0px 0px 18px 0px #1c1c1c;
  }
}
// End of Night Time Color Schema

.pointer {
  cursor: pointer;
}

.mountains {
  width: 100%;
  padding: 165px 0px 8px 0px;
}

.banner {
  padding: 0px 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-icon {
  position: absolute;
  top: 20px;
  right: 40px;
}

.hourly-icon {
  img {
    width: 40px;
  }
}

.loading-container {
  height: 100vh;
  color: $off-white;
}

// WeekView Component styles
.week-view-container {
  table {
    width: 100%;
    height: 100%;

    tr {
      height: 60px;
    }

    .day-of-week {
      text-align: inherit;
      padding-left: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 8px;
    }
  }

  .close {
    display: none;
  }

  .open {
    display: inherit;
    th {
      height: 100px;
    }
  }

  .hourly-container {
    width: 98vw;
  }
}

.hourly-container {
  display: flex;
  overflow: scroll;
  width: 98%;

  .hourly-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .sunrise,
  .sunset {
    font-size: 10px;
  }

  .temp {
    font-size: 10px;
    margin: 4px 0px 0px 5px;
  }

  .hour {
    font-size: 12px;
    width: 70px;
    text-align: center;
  }
}

.zip-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  flex-direction: column;

  .zip-code-input {
    border: 1px solid grey;
    height: 50px;
    width: 80vw;
    border-radius: 8px;
    font-size: 26px;
    text-align: center;
  }

  .zip-code-submit {
    font-size: 15px;
    background: #f0f0f0;
    font-variant: all-petite-caps;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 25px;
  }
}

.desktop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.daily-card-container {
  width: 40%;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    h5 {
      margin: 0px;
    }
  }
}
