@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

$sky-blue: #add5f2;
$off-white: #e5e5e5;
$main-font-color: #4b4a4a;

body {
  font-family: 'Major Mono Display', monospace;
  height: 100vh;
  background-image: linear-gradient($sky-blue, $off-white);
  color: $main-font-color;
  margin: 0px;
}

.mountains {
  width: 100%;
  padding: 100px 0px 8px 0px;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 0px 0px 18px 0px #92bad6;
}

.weather-icon {
  position: absolute;
  top: 20px;
  right: 40px;
}
